<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="field">
          <label class="label">GitHired Search</label>
          <div class="control">
            <%= form_for :search, class: 'input', remote: true do |f| %>
              <%= f.text_field :keyword, class: 'input', placeholder: "Enter city or language" %>
              <%= f.submit 'Search', class: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column">
        <%= render 'previous_searches' %>
      </div>
  </div>
  <div class="columns">
    <div class="column">
      <h2 class="title is-4">
        <%= "Search results for: '#{@searches.last_search}'" %>
      </h2>
    </div>
  </div>
  <div class="columns">
    <div class"column">
      <div class="element">

      </div>
      <%= content_tag :div, class: "search-results", data: {last_search: @searches.last_search} do %>
        <table class="results-table table is-striped">
          <thead>
            <tr>
              <th>Company</th>
              <th>Company URL</th>
              <th>Location</th>
              <th>Created At</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      <% end %>
    </div>
    <%= content_tag :div, class: "column is-3 search-history", data: {search_history: @searches.search_history} do %>
      <% if @searches %>
        <h2 class="title is-5">Search history:</h2>
        <ul></ul>
      <% end %>
    <% end %>
  </div>
</section>
